/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position:sticky ;
    top: 0px;
    opacity: .5;
    font-family: 'Times New Roman', Times, serif;
}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

/*Navigation Bar:Logo and Image */
#logo img{
    height:118px ;
    margin: 16px 20px;
}

/*Navigation Bar:List Styling */



#navbar ul{
    display: flex;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;

}
    
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 370px;
    justify-content: center;
    align-items:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home::before{
    content:"";
    background: url('../bak.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
} 

#home h1{
    color: white;
    text-align:center ;

}
#home p{
    color: white;
    text-align:center ;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;

}
/* Services Section */
#services{
    margin: 25px;
    display: flex;
    
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color:cornsilk;
}
#services .box img{
    height: 130px;
    margin: auto;
    display: block;
}
#services  .box p{
    font-family: 'Bree Serif', serif;
}

/* Client section */
#client-section{
    position: relative;
   
    opacity: 1;
   
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bak4.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients  img{
    height: 125px;
    
}
.client-item{
    padding: 34px;
}


/* Contact section */
#contact{
    position: relative;
   
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background: url('../bak3.jpg')no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    font-family: serif;
    
}
#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 2rem;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family:'Bree Serif', serif ;
    font-size: 3.8rem;
    padding: 4px;

}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;

}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}
.center{
    text-align:center ;
}














